<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../CSS/dashboard.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body onload="Func0()">

        <div id="navbar">
            <a class="btn btn-success" href="/Profile" >Profile</a>
            <a class="btn btn-success" href="/Info">User Info</a>
        </div>
        <div id="Modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" onclick="close()">&times;</span>
                <form id="my_form" action="#" onsubmit="updatedat()" method="get">
                    Name
                    <input type="text" id="name">
                    Age
                    <input type="number" id="age">
                    Email Id
                    <input type="email" id="email">
                    Address
                    <input type="text" id="address">
                    Phone Number
                    <input type="number" id="ph_no">

                    <input type="submit" placeholder="submit">

                </form>
            </div>

        </div>
        <div id="main">
            <input type="text" id="search" value="">
            <button type="button" onClick="Func0()" >search</button>
            <table id="table">
            </table>
        </div>
        <script src="../JS/dashboard.js"></script>
    </body>
</html>